<!-- List the notes on the screen -->
<div class="d-flex">
  <div class="me-auto">
    <h3>Operator Notes</h3>
  </div>
  <div class="mt-1 mb-1">
    <div class="pt-0 pb-0 btn btn-outline-secondary" (click)="showForm(-1)">
      NEW
    </div>
  </div>
</div>
<div class="row bg-primary text-light border-bottom-0">
  <div class="col-12 col-md-3 mt-0 mb-0">
    <div class="row">
      <div class="col-4 mt-1 mb-1">Site</div>
      <div class="col-5 mt-1 mb-1">Operator</div>
      <div class="col-3 mt-1 mb-1">Time</div>
    </div>
  </div>
  <div class="col-12 col-md-8 mt-1 mb-1">Note</div>
</div>
<div class="row" *ngFor="let x of tag.value; index as i" [ngStyle]="{'background-color': (i%2 == 0 ? '#f0f0f0' : '')}"
  (click)="showForm(i)">
  <div class="col-12 col-md-3 small">
    <div class="row">
      <div class="col-4">
        <p>{{x[1]}}</p>
      </div>
      <div class="col-5">
        <p>{{x[2]}}</p>
      </div>
      <div class="col-3">
        <p>{{x[3] | msTime:true}} {{x[3] | msDate}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8" [innerHTML]="x[4] | msNL2BR">
  </div>
</div>