<!-- List the notes on the screen -->
<div class="mb-1 d-flex align-items-center">
  <div class="me-4">
    <h3>Operator Notes</h3>
  </div>
  <div class="me-4" *ngFor="let g of site_groups; index as i" (click)="checkbox(i)">
    <input type="checkbox" [checked]="g.checked" (change)="$event.preventDefault()">&nbsp;{{g.name}}
  </div>
  <div class="d-flex ms-auto">
    <button *ngIf="abnormal" class="me-2 px-2 py-1 btn btn-danger"  (click)="filter_abnormal()" style="font-family: 'Arial Narrow', sans-serif;">
      ABNORMAL
    </button>
    <button class="me-4 px-2 py-1 btn btn-outline-secondary" (click)="formAdd(-1)">
      NEW
    </button>
    <div class="me-4" (click)="downloadcsv()">
      <app-icon icon="download" width="20" height="20"></app-icon>
    </div>
  </div>
</div>
<div class="row bg-primary text-light border-bottom-0" (click)="formFilter()">
  <div class="col-12 col-md-4 mt-0 mb-0">
    <div class="row">
      <div class="col-4 mt-1 mb-1" style="display:inline-flex">
        <app-icon icon="filter" width="16" height="16"></app-icon>&nbsp;Time
      </div>
      <div class="col-4 mt-1 mb-1" [ngStyle]="{'text-decoration': filter.by !== '' ? 'underline' : 'none'}">Operator</div>
      <div class="col-4 mt-1 mb-1" [ngStyle]="{'text-decoration': filter.site !== '' ? 'underline' : 'none'}">Site</div>
    </div>
  </div>
  <div class="col-12 col-md-8 mt-1 mb-1" [ngStyle]="{'text-decoration': filter.note !== '' ? 'underline' : 'none'}">Note</div>
</div>
<div class="row" *ngFor="let x of show; index as i" [ngStyle]="{
    'background-color': (i%2 == 0 ? '#d0d0d0' : ''),
    'box-shadow': x.abnormal === 1 ? 'inset 8px 0 0 #ff0000' : 'none'
}" (click)="formAdd(i)">
  <div class="col-12 col-md-4 small">
    <div class="row">
      <div class="col-4">
        <p class="mb-1">{{x.date_ms | date:'d-MMM-yy HH:mm'}}</p>
      </div>
      <div class="col-4">
        <p class="mb-1">{{x.by}}</p>
      </div>
      <div class="col-4">
        <p class="mb-1">{{x.site}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8" [innerHTML]="x.note | msNL2BR">
  </div>
</div>