<div class="row mb-2 {{item.style}}">
  <div class="col-8 d-flex justify-content-between">
    <div class="ms-pad-v-s">{{tag.desc}}</div>
  </div>
  <div class="col-4 d-grid">
    <ng-container [ngSwitch]="tag.format">
      <div *ngSwitchCase="'float'" class="row">
        <div class="col-8 ms-pad-v-e">&#8203;{{tag.value | number:'1.'+tag.dp+'-'+tag.dp}}</div>
        <div class="col-4 ms-pad-v-s">{{tag.units}}</div>
      </div>
      <div *ngSwitchCase="'int'" class="row">
        <div class="col-8 ms-pad-v-e">&#8203;{{tag.value}}</div>
        <div class="col-4 ms-pad-v-s">{{tag.units}}</div>
      </div>
      <div *ngSwitchCase="'multi'" class="text-center ms-pad-v">
        &#8203;{{tag.value | msMulti: tag.multi}}
      </div>
      <div *ngSwitchCase="'time'" class="text-center ms-pad-v">
        &#8203;{{tag.value | msTime}}
      </div>
      <div *ngSwitchCase="'date'" class="text-center ms-pad-v">
        &#8203;{{tag.value | msDate}}
      </div>
      <div *ngSwitchCase="'datetime'" class="text-center ms-pad-v">
        &#8203;{{tag.value | msDate}}&nbsp;{{tag.value | msTime}}
      </div>
      <div *ngSwitchCase="'str'" class="text-center ms-pad-v">&#8203;{{tag.value}}</div>
      <div *ngSwitchDefault class="text-info">&#8203;{{tag.value}}</div>
    </ng-container>
  </div>
</div>
