<div class="d-flex">
  <div class="me-auto">
    <h3>{{desc}}</h3>
  </div>
  <div class="pe-4" (click)="downloadcsv()">
    <app-icon icon="download" width="20" height="20"></app-icon>
  </div>
  <div class="pe-4" (click)="toggleLegend()">
    <app-icon icon="list" width="20" height="20"></app-icon>
  </div>
  <div class="pe-4" (click)="formSmooth()">
    <app-icon icon="chart" width="20" height="20"></app-icon>
  </div>
  <div class="pe-4" (click)="formScale()">
    <app-icon icon="gear" width="20" height="20"></app-icon>
  </div>
</div>
<div class="ms-uplot" #msu>
  <div #uplot></div>
</div>
