<div class="d-flex justify-content-between">
  <div>
    <h3>Alarms</h3>
  </div>
  <div>
    Callout Disabled Count: {{filtered}}
  </div>
  <div class="pe-4">
    <div class="pt-0 pb-0 btn btn-outline-secondary" (click)="showControl()">
      Callout
    </div>
  </div>
</div>
<div class="row bg-primary text-light border-bottom-0" (click)="showFilter()">
  <div class="col-3 mt-1 mb-1">
    <span class="ms-inline-icon" [ngClass]="{'text-decoration-underline':filter[0].length > 0}">
      <app-icon icon="filter" width="20" height="20"></app-icon>
      Tagname
    </span>
  </div>
  <div class="col-6 mt-1 mb-1" [ngClass]="{'text-decoration-underline':filter[1].length > 0}">Description</div>
  <div class="col-1 mt-1 mb-1" [ngClass]="{'text-decoration-underline':filter[2].length > 0}">Callout</div>
</div>
<div class="row" *ngFor="let x of show; index as i" [ngStyle]="{'background-color': (i%2 == 0 ? '#f0f0f0' : '')}"
  (click)="showMulti(x)">
  <div class="col-3 mt-1 mb-1 pe-0 truncate">{{x[0]}}</div>
  <div class="col-6 mt-1 mb-1 pe-0">{{x[1]}}</div>
  <div class="col-1 mt-1 mb-1 pe-0">{{x[2]}}</div>
</div>