<h3>Drawings</h3>
<div class="row bg-primary text-light border-bottom-0" (click)="showFilter()">
  <div class="col-1" [ngClass]="{'text-decoration-underline':filter['device'].length > 0}">
    <span class="ms-inline-icon">
      <app-icon icon="filter" width="15" height="15"></app-icon>
      <small>Device</small>
    </span>
  </div>
  <div class="col-2" [ngClass]="{'text-decoration-underline':filter['tag_name'].length > 0}"><small>Tagname</small></div>
  <div class="col-4" [ngClass]="{'text-decoration-underline':filter['tag_desc'].length > 0}"><small>Description</small></div>
  <div class="col-1" [ngClass]="{'text-decoration-underline':filter['point_id'].length > 0}"><small>Point</small></div>
  <div class="col-4"><small>Drawings</small></div>
</div>
<div class="row" *ngFor="let r of records; index as i" [ngStyle]="{'background-color': (i%2 == 0 ? '#f0f0f0' : '')}">
  <div class="col-1"><small>{{r['device']}}</small></div>
  <div class="col-2"><small>{{r['tag_name']}}</small></div>
  <div class="col-4"><small>{{r['tag_desc']}}</small></div>
  <div class="col-1"><small>{{r['point_id']}}</small></div>
  <div class="col-4">
    <small *ngFor="let d of r['construct']">
      <a target="_blank" href="serve/construct/{{d}}.pdf">{{d}}</a>&nbsp;
    </small>
  </div>
</div>